<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="template/template.xhtml">

	<ui:define name="title">
        Crear Cuenta
    </ui:define>

	<ui:define name="content">

		<h:form class="form-horizontal form-material">
			<div class="form-group">
				<label class="col-md-12">Cédula</label>
				<div class="col-md-12">
					<h:inputText value="#{cuentaBean.cliente.cedula}"
						type="text" a:placeholder="Cedula"
						class="form-control form-control-line" />
				</div>
			</div>
			<div class="form-group">
				<label for="example-email" class="col-md-12">Nombre</label>
				<div class="col-md-12">
					<h:inputText value="#{cuentaBean.cliente.nombre}"
						a:placeholder="Nombre" class="form-control form-control-line" />
				</div>
			</div>
			<div class="form-group">
				<label for="example-email" class="col-md-12">E-mail</label>
				<div class="col-md-12">
					<h:inputText value="#{cuentaBean.cliente.email}"
						a:placeholder="Nombre" class="form-control form-control-line" />
				</div>
			</div>
			<div class="form-group">
				<label for="example-email" class="col-md-12">Numero Cuenta</label>
				<div class="col-md-12">
					<h:inputText value="#{cuentaBean.cliente.numCuenta}"
						a:placeholder="Nombre" class="form-control form-control-line" />
				</div>
			</div>
			<div class="form-group">
				<label for="example-email" class="col-md-12">Saldo</label>
				<div class="col-md-12">
					<h:inputText value="#{cuentaBean.cliente.saldo}"
						a:placeholder="Nombre" class="form-control form-control-line" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<h:commandButton action="#{cuentaBean.guardarDatos()}"
						class="btn btn-success" value="Guardar" />
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>